h1,
h2,
h3 {

    font-family: Lobster, sans-serif;
}

header {
    background-image: linear-gradient(to right, rgb(74, 48, 215) 70%, rgb(83, 20, 101));
    color: white;
}

header h2 {
    color: lightgray;
}

main h2 {
    color: rgb(42, 61, 189);
}

footer {
    background-image: linear-gradient(rgb(202, 196, 255), white);
    font-size: 0.9rem;
}

h4,
h5 {
    font-weight: normal;
}

h5 {
    font-size: 18px;
}